@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #000000;
  --background2: #070014;
  --background3: #0e0028;
  --base: #15003c;
  --base2: #1c0050;
  --base3: #230064;
  --foreground: #2b0076;

}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  color: #9e9e9e;
  background: var(--background);
}

.splide__pagination__page{
  background: #9410ea !important;
}
.splide__arrow{
  background: #9410ea !important;
}

.code-loader {
  color: #9410ea;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 100px;
  opacity: 0.8;
}

.code-loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}